<a href="#" id="sidebar-toggle">{{ 'New'| t }}</a>
<div id="sudoku_menu">
	<ul>
		<li><a class="restart easy" href="#">{{ 'Easy'| t }}</a></li>
		<li><a class="restart medium" href="#">{{ 'Medium'| t }}</a></li>
		<li><a class="restart hard" href="#">{{ 'Hard'| t }}</a></li>
	</ul>
</div>
<div id="sudoku_container"></div>
<div id='dsudoku-sponsor'>
	<label>Sponsor:</label>
	{{ sponsor }}
</div>
